@use "./variables.scss" as *;
@use './global.scss' as *;

.contact {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFDF6;
  overflow: hidden;

  .contact-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    text-align: center;
    position: relative;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  /* title */

  .contact-title {
    font-size: 82px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: $font-en;
    color: $color-main;
    z-index: 99999;
    text-shadow: 0 10px 12px #00000069;
  }

  /* description */

  .contact-desc {
    font-size: 28px;
    font-weight: 500;
    color: $color-sub;
    z-index: 99999;
  }

  /* buttons */

  .contact-buttons {
    display: flex;
    gap: 20px;
    margin-top: 16px;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 99999;
    
  }
  .contact-buttons span{
    font-size: 22px;
    font-family: $font-en;
  }
}




/* blur background */
.contact-blur {
  position: absolute;

  width: 500px;
  height: 500px;

  border-radius: 50%;

  filter: blur(100px);
  opacity: 1;

  will-change: transform;
}

/* 왼쪽 원 */

.contact-blur.blur1 {
  //background: #8FC7E8;
  background: radial-gradient(
    circle,
    rgba(143,199,232,0.9) 0%,
    rgba(143,199,232,0.4) 40%,
    transparent 100%
  );

  top: -150px;
  left: -30px;

  animation: floatLeft 18s ease-in-out infinite;
}


/* 오른쪽 원 */

.contact-blur.blur2 {
  //background: #CCE2EE;
  background: radial-gradient(
    circle,
    rgba(204,226,238,0.9) 0%,
    rgba(204,226,238,0.5) 40%,
    transparent 70%
  );

  top: 40px;
  right: -30px;

  animation: floatRight 22s ease-in-out infinite;
}

/* contact-blur → slow floating 애니메이션 */
@keyframes floatLeft {

  0% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(120px,-80px);
  }

  100% {
    transform: translate(0,0);
  }

}

@keyframes floatRight {

  0% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(-150px,100px);
  }

  100% {
    transform: translate(0,0);
  }

}