@use "./variables.scss" as *;
@use './global.scss' as *;

*{margin: 0;padding: 0; box-sizing: border-box;}

body {
  font-family: 'Pretendard', sans-serif;
}


.design-card{

    position:relative;
    width: 100%;
    aspect-ratio:4/5;
    flex-shrink: 0;
    border-radius: 8px;
    overflow:hidden;
    cursor:pointer;
}



.design-card img{

    width:100%;
    height:100%;
    object-fit:cover;
    transition: all .6s;
    filter:brightness(.75) grayscale(.5);

}

.design-card:hover img{

    transform:scale(1.08);
    filter:brightness(1) grayscale(0);

}

.card-overlay{
    position:absolute;
    inset:0;
    display:flex;
    align-items:flex-end;
    padding:30px;
    background:
    linear-gradient(
    to top,

    rgba(0, 0, 0, 0.5),

    rgba(0,0,0,.15),

    transparent

    );

}

.card-overlay:hover{
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.603) inset;
  border-radius: 8px;
  
}

.card-info{
  color:#fff;
  font-family: $font-en;
}

.card-info span{

  font-size:13px;
  letter-spacing:.15em;
  /* text-transform:uppercase; */

  display:inline-flex;
  padding:6px 12px;
  border:1px solid rgba(255,255,255,.3);
  border-radius:999px;
  backdrop-filter:blur(8px);

}

.card-info h3{
    font-size: 28px;
    margin: 10px 0;
    font-weight: 600;
    letter-spacing:-0.02em;

}

.card-info p{
    opacity:.7;

}

.view-detail{
  margin-top:24px;
  opacity:0;
  transform:translateY(15px);
  transition:.35s;
  display: flex;

}

.view-detail .view-arrow{
  margin-top: 2px;
  margin-left: 5px;
}


.design-card:hover .view-detail{

  opacity:1;
  transform:translateY(0);

}

.coming-soon{
  background:#8d8d8d50;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: $font-en;

}

.coming-overlay{
  text-align:center;
  line-height: 1.8;
}

.coming-overlay h3{
  color: #555;
}

.coming-overlay p{
  color: #777;
  font-weight: 400;
  font-family: $font-main;
}

.plus{

  font-size:60px;
  font-weight:200;
  transition: .6s ease;
  display: inline-block;
}

.coming-soon:hover .plus{
  color: #ffffffb0;
}

/* 반응형 */
@media (max-width: 480px) {
    
  
}