@use "./variables.scss" as *;
@use './global.scss' as *;

*{margin: 0;padding: 0; box-sizing: border-box;}

body {
  font-family: 'Pretendard', sans-serif;
}

.design-filter {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.design-filter button {
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    font-family: $font-en;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 15px;
    color: #333;
}

.design-filter button.active {
    color: #fff;
    font-weight: 500;
    background: #333;
    border: none;
}

/* 반응형 */
@media (max-width: 480px) {
    .design-filter{
        justify-content: center;
        gap: 10px;
    }
    .design-filter button{
        font-size: 14px;
    }

}