@use "./variables.scss" as *;
@use './global.scss' as *;

*{margin: 0;padding: 0; box-sizing: border-box;}

body {
  font-family: 'Pretendard', sans-serif;
}

.design-works {
    background: url(../assets/img/bg.jpg);
    /* background: linear-gradient(to bottom, #e4f1fd 50%,#d1e7fc 100%); */
    /* background: #E6F0F2; */
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: clamp(80px, 10vw, 120px) 0;
}

.design-inner {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 clamp(20px, 5vw, 40px);
}

.design-title {
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: $font-en;
    text-transform: uppercase;
}


.design-swiper-wrap {
    position: relative;
    margin-top: 30px;
}

.design-navigation {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.design-navigation svg{
  scale: calc(1.5);
  margin-top: 3px;
}

.design-arrow {
    width: 48px;
    height: 48px;
    /* border: 1px solid #ccc; */
    border: none;
    /* border-radius: 50%; */
    border-radius: 6px;
    /* background: #ffffff7e; */
    background: none;
    cursor: pointer;
    transition: .5s ease;
}

.design-arrow:hover {
    background: #77777757;
    color: #fff;
}


/* 반응형 */
@media (max-width: 480px) {

  .design-title{
    font-size: 32px;
    text-align: center;
  }

  .design-navigation{
    margin-bottom: 10px;
    gap: 5px;
    justify-content: center;
  }

  .design-arrow{
    width: 28px;
    height: 28px;
    
  }

  .design-navigation svg{
    scale: calc(1);
  }
}