@use "./variables.scss" as *;
@use './global.scss' as *;


.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  background: transparent;

  transition: all 0.3s ease;
  z-index: 1000;
}

/* 기본 상태 */
.header.show {
  transform: translateY(0);
}

/* 숨김 상태 */
.header.hide {
  transform: translateY(-100%);
}

/* 스크롤 시 glass effect */

.header.scrolled {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.header-inner {
  height: 100%;

  padding: 0 200px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */

.logo {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: $font-en;
}

/* navigation */

.nav ul {
  display: flex;
  gap: 40px;
}

.nav button {
  background: none;
  border: none;

  font-size: 14px;
  letter-spacing: 1px;
  font-family: $font-en;

  cursor: pointer;
  color: $color-sub;

  transition: 0.3s;
}

.nav button:hover {
  color: $color-sub;
}

.nav button.active {
  font-weight: 600;
}
.nav button.active::after {
  transform: scaleX(1);
}

/* nav underline 애니메이션 */

.nav button {
  position: relative;

  transition: color 0.3s;
}

/* underline */
.nav button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 100%;
  height: 2px;
  background: #555;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav button:hover::after {
  transform: scaleX(1);
}

/* 해당 섹션 도달시 밑줄 애니메이션 */

/* icons */

.header-icons {
  display: flex;
  gap: 16px;
}

.header-icons .icon-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;

  img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    border-radius: 5px;
  }
}
.header-icons .icon-box:hover img {
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075);
  }


  /* scroll progress */

/* .scroll-progress {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background: transparent;
}

.scroll-progress-bar {
  height: 100%;
  width: 0;

  background: $color-main;

  transition: width 0.1s linear;
} */