@use "./variables.scss" as *;
@use './global.scss' as *;


.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  background: transparent;

  transition: all 0.3s ease;
  z-index: 100;
}

/* 기본 상태 */
.header.show {
  transform: translateY(0);
}

/* 숨김 상태 */
.header.hide {
  transform: translateY(-100%);
}

/* 스크롤 시 glass effect */

.header.scrolled {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.header-inner {
  width: 100%;
  height: 80px;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 clamp(20px, 5vw, 40px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* logo */

.logo {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: $font-en;
}

/* navigation */

.nav-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav button {
  background: none;
  border: none;

  font-size: 14px;
  letter-spacing: 1px;
  font-family: $font-en;

  cursor: pointer;
  color: $color-sub;

  transition: 0.3s;
}

.nav button:hover {
  color: $color-sub;
}

.nav button.active {
  font-weight: 600;
}
.nav button.active::after {
  transform: scaleX(1);
}

/* nav underline 애니메이션 */

.nav button {
  position: relative;

  transition: color 0.3s;
}

/* underline */
.nav button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 100%;
  height: 2px;
  background: #555;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav button:hover::after {
  transform: scaleX(1);
}

/* 해당 섹션 도달시 밑줄 애니메이션 */

/* icons */

.header-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-icons .icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;

  img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    border-radius: 5px;
  }
}
.header-icons .icon:hover img {
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075);
  }



/* -------------------- */
/* 🔻 1440 이하 */
@media (max-width: 1440px) {
  .header-inner {
    max-width: 1300px;
  }

  .nav-list {
    gap: 24px;
  }
}

/* -------------------- */
/* 🔻 1024 이하 */
@media (max-width: 1024px) {
  .header-inner {
    max-width: 100%;
  }

  .nav-list {
    gap: 16px;
  }

  .nav-list button {
    font-size: 14px;
  }
}

/* -------------------- */
/* 🔻 768 이하 */
@media (max-width: 768px) {
  .nav-list {
    gap: 12px;
  }

  .header-icons img {
    width: 20px;
  }
}

/* -------------------- */
/* 🔻 480 이하 */
@media (max-width: 480px) {
  .nav {
    display: none;
  }

  .header-inner {
    padding: 0 20px;
  }
}