@use "./variables.scss" as *;
@use './global.scss' as *;

*{margin: 0;padding: 0; box-sizing: border-box;}

body {
  font-family: 'Pretendard', sans-serif;
}

.intro {
  width: 100%;
  min-height: 100vh;
  padding: clamp(120px, 15vh, 180px) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFDF6;
  /* background: url(../assets/img/bg.jpg); */
  position: relative;
  overflow: hidden;
}

.intro-inner {
  width: 100%;
  padding: 0 20px; // 모바일 기본값
  text-align: center;
}

.intro-content {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.intro-subtitle {
  display: block;
  font-size: clamp(14px, 1.5vw, 24px);
  opacity: .8;
  letter-spacing: 1px;
  color: $color-sub;
  font-family: $font-en;

  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.8s;
}

.intro-title {
  font-size: clamp(48px, 10vw, 120px);
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
  font-family: $font-en;
  letter-spacing: 0.03em;
}

.intro-desc {
  font-size: clamp(12px, 2.2vw, 26px);
  color: $color-sub;
  margin-bottom: 40px;

  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 1.2s;
}

.intro-btn-wrap{
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 1.6s;
}

.intro-btn {
  padding: clamp(8px, 1.2vw, 10px) clamp(20px, 2vw, 28px);
  border-radius: 30px;
  border: none;

  font-size: clamp(12px, 1.2vw, 16px);
  font-weight: 500;
  opacity: .8;

  cursor: pointer;
  color: $color-sub;
  font-family: $font-en;

  /* background: linear-gradient(45deg, rgb(169,210,232) 0%,rgb(204,226,238) 53%,rgb(255,255,255) 100%); */

  /* box-shadow: 0 4px 12px #0047819a; */

  /* background: linear-gradient(30deg, rgb(49, 49, 49) 0%,rgb(83, 83, 83) 53%,rgb(155, 155, 155) 100%);
  color: #fff; */
  /* background: #fff; */

  background: linear-gradient(to bottom, #e4f1fd 50%,#d1e7fc 100%);
  border: 1px solid #f2f8fd;
  box-shadow: 0 4px 6px #b6b6b679;
  
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.intro-btn:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 14px 22px #0047816e; */
  box-shadow: 0 10px 10px #bbbbbb80;
  opacity: 1;
}

.intro-bottom {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: $font-en;
  font-weight: 400;

  font-size: clamp(12px, 1vw, 14px);
  color: $color-sub2;
  letter-spacing: 1px;
}

/* title animation */
.intro-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);

  animation: titleReveal 0.5s ease forwards;
}
.intro-title .line {
  display: block;
}

@keyframes titleReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* title animation - 공통 애니메이션 */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* blur background */
.intro .blur-circle {
  position: absolute;

  width: 500px;
  height: 500px;

  border-radius: 100%;

  filter: blur(50px);
  opacity: 0.7;

  z-index: 0;

  will-change: transform;
}

/* 왼쪽 원 */

.intro .blur-circle.left {
  //background: #8FC7E8;
  background: radial-gradient(
    circle,
    rgba(143,199,232,0.9) 0%,
    rgba(143,199,232,0.4) 50%,
    transparent 80%
  );

  top: 100px;
  left: clamp(-100px, 10vw, 200px);

  animation: floatLeft 18s ease-in-out infinite;
}


/* 오른쪽 원 */

.intro .blur-circle.right {
  //background: #CCE2EE;
  background: radial-gradient(
    circle,
    rgba(204,226,238,0.9) 0%,
    rgba(204,226,238,0.5) 80%,
    transparent 80%
  );

  top: 250px;
  right: clamp(-100px, 10vw, 200px);

  animation: floatRight 22s ease-in-out infinite;
}

/* blur circle → slow floating 애니메이션 */
@keyframes floatLeft {

  0% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(120px,-80px);
  }

  100% {
    transform: translate(0,0);
  }

}

@keyframes floatRight {

  0% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(-150px,100px);
  }

  100% {
    transform: translate(0,0);
  }

}


@media (max-width: 768px) {
  .intro-title {
    font-size: clamp(36px, 12vw, 80px);
  }

  .intro-content {
    max-width: 100%;
  }
  .intro-desc{
    font-size: 22px;
  }

  .blur-circle {
    width: 300px;
    height: 300px;
    filter: blur(80px);
  }
}

@media (max-width: 480px) {
  .intro-desc{
    font-size: 18px;
  }

  
}