@use "./variables.scss" as *;
@use './global.scss' as *;
@use './_mixins.scss' as *;

.detail-nav {
  position: relative;
  z-index: 9999;
}

/* 기본 숨김 상태 */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
}

/* 보여질 때 */
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s cubic-bezier(.22,.61,.36,1);
}

/* 딜레이 옵션 */
.delay-1 { transition-delay: 0.2s; }
.delay-2 { transition-delay: 0.4s; }
.delay-3 { transition-delay: 0.6s; }
.delay-4 { transition-delay: 0.8s; }

.project-detail {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s cubic-bezier(.22,.61,.36,1);
}

.project-detail.show {
  opacity: 1;
  transform: translateY(0);
}

/*  */
/*  */
/*  */
.container{
    padding: 0 200px;
    height: inherit;
    margin: 0 auto;
}
section{
  padding: 40px 0;
}

.project-detail {
  width: 100%;
  background: #FFFDF6;
  
  .project-detail-inner {
    width: 100%;
    position: relative;
  }

  .project-detail-name{
    color: #aaa;
    font-size: 18px;
    line-height: 2;
    font-family: $font-en;
    font-weight: 400;
    opacity: .5;
    display: block;
    margin-bottom: 10px;
  }
  .project-detail-line{
    width: 10%;
    height: 2px;
    background: #ccc;
    margin-bottom: 10px;
    opacity: .4;
    display: block;
  }

  .project-num {
    font-family: "Montserrat";
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: 600;
    color: $color-sub;
  }

  .title{
    color: #ffffff;
    font-size: 50px;
    margin-top: 50px;
    font-family: $font-main;
    font-weight: 500;
    position: relative;
  }
  .top-area{
    width: 100%;
    display: flex;
    position: relative;
    z-index: 999;
      
    .text{
      width: 50%;
      position: relative;
      color: #fff;
      z-index: 999;
      margin-top: 30px;

      .project-text{
        list-style: none;
        margin-bottom: 20px;
        li{
          display: flex;
          margin-bottom: 10px;

          span{
            width: 150px;
            font-size: 20px;
            font-weight: 300;
            font-family: $font-main;
          }
          p{
              margin: 0;
              font-size: 18px;
              font-weight: 300;
            }
        }
      }
      .info-btn{
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 20px;
        color: $color-sub;
        line-height: 1.8;
        width: 100%;

        .project-buttons{
          padding-top: 30px;
          
          .project-btn{
            padding: 7px 17px;
            font-size: 16px;

            span{
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
}
.img-area{
  width: 50%;
  height: auto;
  max-width: 600px;
  margin-left: 160px;
  position: relative;

  display: flex;
  justify-content: center;
}

.detail-monitor{
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  margin-top: 100px;
  position: relative;
}
/* website screen */
.detail-screen {
  position: absolute;
  

  top: 23.3%;
  left: 8.3%;

  width: 82.3%;
  height: 46.4%;

  overflow: hidden;

  border-radius: 3px;
  opacity:1;

}
/* 모니터에 inner shadow */
.detail-screen::after{
  content:"";
  position:absolute;
  inset:0;
  box-shadow:
    inset 0 0 20px rgba(0,0,0,0.25),
    inset 0 0 8px rgba(0,0,0,0.5);

  pointer-events:none;
}
.detail-screen img {
  width: 100%;
  display: block;
  
  animation: siteScroll 10s ease-in-out infinite alternate;
}


.detail_arrow {
  transform: translateX(-50%, -50%); 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  transition: opacity 0.4s ease, transform 0.4s ease;
  &.hidden {
    opacity: 0;
    pointer-events: none;

  }
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
  .arrow { 
    color: white; 
    stroke-width: 1.5; 
    margin-top: -30px; 
    animation: bounce 2s infinite; 
  }
}



  .top_bg{ 
    width: 100%;
    position: relative;
    .img_bg{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        filter: brightness(60%);
        z-index: 0;
    }
  }

  /* 🔹 DESIGN */
  .design .container{
    padding-top: 200px;
  }
  .design {
    h3{
      font-family: "Montserrat";
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: 600;
      color: $color-sub;
      letter-spacing: 2px;
    }

    img{
      width: 100%;
    }
  }



  /* 🔹 CONCEPT */
  .concept .container{
    padding-top: 50px;
  }
  .concept {
    h3{
      font-family: "Montserrat";
      font-size: 48px;
      font-weight: 600;
      color: $color-sub;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
    .line{
      width: 100%;
      height: 1px;
      background: #b2b2b2;
      margin-bottom: 50px;
    }
    .concept-top {
      display: flex;
      gap: 300px;

      .label {
        color: #fff;
        background: #236D98;
        font-size: 24px;
        font-weight: 500;
        padding: 8px 20px;
        border-radius: 30px;
        font-family: $font-en;
        justify-content: center;
        text-align: center;
        display: inline-block;
      }
    }

.typography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

    .use-text1{
    font-size: 54px;
    display: block;
    font-weight: 600;
  }
    .use-text2{
    font-size: 54px;
    display: block;
    font-weight: 600;
    font-family: $font-en;
  }
}

.color-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.color-box {
  display: flex;

  span {
    display: block;
    padding: 30px 25px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* width: 120px;
    height: 80px; */


    &:nth-child(1) { background: #8E8882; color: #fff; }
    &:nth-child(2) { background: #B5ABA0; }
    &:nth-child(3) { background: #F7F4F0; }
  }
}

  .concept-wrap {
    gap: 60px;
    width: 65%;

    .concept-box{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-bottom: 70px;
    }
    

    .label {
      color: #fff;
      background: #236D98;
      font-size: 24px;
      font-weight: 500;
      padding: 8px 20px;
      border-radius: 30px;
      font-family: $font-en;
      justify-content: center;
      text-align: center;
      display: inline-block;
    }

    .concept-text{
      color: #333;
      line-height: 2;
      font-size: 22px;
      font-family: $font-main;
    }
  }
}
  

  /* 🔹 PROCESS / RESULT */
  .process{
    margin-bottom: -300px;
  }
  .process,
  .result {

    h3{
      font-family: "Montserrat";
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: 600;
      color: $color-sub;
      letter-spacing: 2px;
    }
    .line{
      width: 100%;
      height: 1px;
      background: #b2b2b2;
      margin-bottom: 50px;
    }
    .problem-text{
      width: 65%;
      .process-text{
        line-height: 2;
        font-size: 22px;
      }

    }
    .solve-text{
      width: 65%;
      margin-top: 50px;
      margin-left: 500px;
      display: flex;
      position: relative;
      img{
        position: absolute;
        top: -20px;
        left: -200px;
      }
      .process-text{
        line-height: 2;
        font-size: 22px;
      }
    }
  
    .result-text{
      line-height: 2;
      font-size: 22px;
      width: 65%;
      margin-bottom: 60px;
    }
  }

  .result-box .label{
    color: #fff;
    background: #236D98;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 30px;
    font-family: $font-en;
    justify-content: center;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
  }
   .result-list{
    margin-top: 20px;
    margin-left: 30px;
      li{
        font-size: 22px;
        line-height: 2;
        list-style: disc;

      }
   }

  /* 🔹 하단 */
  .detail-nav {
    margin-top: -100px;
    height: 50px;
    padding-top: 50px;
    border-top: 1px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    button {
      background: none;
      border: none;
      font-family: $font-en;
      letter-spacing: 2px;
      font-weight: 500;
      cursor: pointer;
      color: $color-sub;
      transition: 0.3s;
      font-size: 24px;

      &:hover {
        color: #236D98;
        font-weight: 700;
      }

      &:disabled {
        opacity: 0.3;
        cursor: default;
      }
    }
  }



/* @media screen and (max-width: 1260px) {
      .img-area {
          width: 100%;
          height: 400px;
          text-align: center;
          padding-bottom: 70px;
      }

      .top-area {
          flex-direction: column-reverse;
          align-items: center;
          padding-top: 0;
      }
  } */