@use "./variables.scss" as *;
@use './global.scss' as *;

.projects {
  padding: 100px 0 120px 0;
  /* background: #ffffff; */
  background: url(../assets/img/bg.jpg);
  /* background: linear-gradient(to bottom, #d1e7fc 0%,#e4f1fd 50%); */
  overflow: hidden
}

.projects-inner {
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 clamp(20px, 5vw, 40px);
  position: relative;
  
  /* box-shadow: 0 0 10px 40px #F8FBFF; */
  
  
}

/* layout */

.projects-title {
  font-size: 42px;
  margin-bottom: 30px;
  /* padding-top: 30px; */
  padding-left: 10px;
  font-weight: 700;
  font-family: $font-en;
  text-transform: uppercase;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: clamp(40px, 6vw, 60px);
  border: 1px solid #e9e9e9;
  background: #ffffff9d;
  /* background:
  linear-gradient(
  180deg,
  rgba(255,255,255,.95),
  rgba(248,248,248,.95)
  ); */
  padding: 30px;
  border-radius: 10px;
}

/* image */

.project-image {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.projects.show .swiper-slide-active .project-image{
  transform: translateX(0);
  opacity:1;
  transition: all .8s ease .2s;
}

.monitor{
  transform: translateX(-60px);
  opacity:0;
}

.project-image img {
  width: 100%;
  display: block;
}

.project-image:hover .screen img {

  transform: translateY(calc(-100% + 55.6%));
  
}
.screen:hover img{
  animation-play-state: paused;
}

/* monitor frame */

.monitor {

  width: 100%;
  position: relative;
  z-index: 1;
}

/* website screen */
.screen {

  position: absolute;

  top: 7.8%;
  left: 8.5%;

  width: 82%;
  height: 55.7%;

  overflow: hidden;

  border-radius: 3px;

  z-index: 2;
  opacity:0;

}
/* 모니터에 inner shadow */
.screen::after{
  content:"";
  position:absolute;
  inset:0;

  box-shadow:
    inset 0 0 20px rgba(0,0,0,0.25),
    inset 0 0 3px rgba(0,0,0,0.7);

  pointer-events:none;
}

/* inner shadow 더 어둡게 */
/* .screen::after{
  content:"";
  position:absolute;
  inset:0;

  box-shadow:
    inset 0 12px 20px rgba(0,0,0,0.25),
    inset 0 -6px 12px rgba(0,0,0,0.2),
    inset 6px 0 12px rgba(0,0,0,0.15),
    inset -6px 0 12px rgba(0,0,0,0.15);

  pointer-events:none;
} */

/* 스크롤 애니메이션 */
.screen img {

  width: 100%;
  display: block;
  
  animation: siteScroll 10s ease-in-out infinite alternate;
}

/* click button */

.detail-btn {

  position: absolute;
  top: 55%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: none;

  background: rgba(71, 71, 71, 0.267);
  color: transparent;

  font-size: 18px;
  font-family: $font-en;

  cursor: pointer;

  backdrop-filter: blur(2px);

  transition: all .3s ease;

  z-index: 3;

  opacity: .7;

  animation: pulse 3s ease-in-out infinite;

  @keyframes pulse {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.detail-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  animation: ripple 2.5s infinite;
}

.project-image:hover .detail-btn {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.detail-btn:hover {
  transform: translate(-50%, -50%) scale(1.2) !important;
  animation: none;
}
.detail-btn:hover::before {
  animation: none;
}

.detail-btn::after {

  content: "Click";

  position: absolute;
  inset: 0;

  color: #fff;
  font-size: 16px;
  font-family: $font-en;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .3s ease;
  letter-spacing: 0.7px;

}

.project-image:hover .detail-btn::after {

  content: "View Details";
  letter-spacing: 0.7px;
  color: #333;

}

.pj-resume-wrap {
  cursor: pointer;
  display: none;
}

.pj-resume-icon{
  position: absolute;
  bottom: 97px;
  right: 150px;
  transition: all 0.3s ease;
  z-index: 99999;
  animation: arrowMove 1.8s ease-in-out infinite;

  @keyframes arrowMove {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}
  
}
.pj-resume-link {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  /* background: #31769F;
  color: #fff; */
  color: #31769F;
  position: absolute;
  bottom: 60px;
  right: 40px;
  transition: all 0.3s ease;
  font-family: $font-en;
  font-weight: 500;
  z-index: 99999;
  border: 1px solid #31779f;
  padding: 5px 10px;
  border-radius: 20px;

  background: linear-gradient(90deg, #31769F, #6aaed6, #31769F);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;

    @keyframes shine {
    0% { background-position: 200% }
    100% { background-position: -200% }
  }
}

.pj-resume-wrap:hover .pj-resume-icon,
.pj-resume-wrap:hover .pj-resume-link {
  animation: none;
  opacity: .5;
}
/* info */

.project-info{
  min-height: 530px;
  padding-top: 40px;
  transform: translateY(60px);
  opacity: 0;
}

.project-category {
  font-size: 20px;
  color: $color-sub;
  font-family: $font-en;
  font-weight: 500;
}

.project-title {
  font-size: 42px;
  margin: 16px 0 30px;
  font-weight: 700;
  color: $font-main;
}

/* meta */

.project-meta {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.project-meta li {
  display: flex;
  gap: 0px;
  margin-bottom: 10px;
}

.project-meta span {
  width: 130px;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}

.project-meta p {
  margin: 0;
  font-size: 18px;
}

/* tools */

.project-tools {
  display: flex;
  gap: 10px;
  margin: 14px 0;
  margin-left: 130px;
  margin-top: -5px;
}

.project-tools img {
  width: 34px;
}

/* description */

.project-desc {
  margin: 20px 60px 30px 0;
  color: $font-main;
  line-height: 1.6;
  font-size: 16px;
  max-width: 700px;
  font-weight: 300;
}

/* buttons */

.project-buttons {
  display: flex;
  margin-left: 10px;
  gap: 14px;
}

.project-btn {

  display: flex;
  align-items: center;
  gap: 8px;
  

  padding: 10px 12px;

  border-radius: 10px;

  background: rgba(248, 251, 255, 0.6901960784);
  border: 1px solid #ddd;
  color: #333;

  text-decoration: none;

  font-size: 12px;

  box-shadow: 0 2px 5px rgba(182, 182, 182, 0.3);

  transition: all .25s ease;

  font-family: $font-en;
  letter-spacing: 0.2px;
  font-weight: 500;

  cursor: pointer;
}

.btn-icon img{
  /* margin-top: 3px; */
  filter: grayscale(100%) brightness(0);
}
.project-btn.detailpage {
  background: #D1E7FC;
  border: 1px solid #c9cccf;
  cursor: zoom-in;
}
.project-btn.detailpage > .btn-icon svg{
  scale: calc(1.6); 
  margin-top: 3px;
}

.project-btn:hover {

  transform: translateY(-3px);
  box-shadow: 0 8px 10px rgba(204, 204, 204, 0.267);
}



.projects-swiper .swiper-slide {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.projects-swiper .swiper-slide-active {
  opacity: 1;
}

/* arrows */

.swiper-button-disabled {
  color: #808080 ;
  opacity: 0.35 ;
  cursor: not-allowed;
  pointer-events: none;
}

.projects-arrow{
  position: absolute;
  /* transform: translateY(-50%); */
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
  border: none;
  background: transparent;
}
.projects-arrow{
  scale: calc(1.5);
  color: #333;
  /* opacity: .5; */
}

.projects-arrow:hover{
  opacity: 1;
  background: #ffffffaf;
  color: #464646;
  border: 1px solid #ddd;
}

/* left */

.projects-arrow.prev{
  /* left: -40px; */
  top: 30px;
  right: 140px;
  transition: .3s ease;
}
.projects-arrow.prev:hover::after{
  transform: translate(-70%,-50%) rotate(-135deg);
  transition: .3s ease;
}

/* right */

.projects-arrow.next{
  /* right: -40px; */
  top: 30px;
  right: 60px;
  transition: .3s ease;
}
.projects-arrow.next:hover::after{
  transform: translate(-30%,-50%) rotate(45deg);
  transition: .3s ease;
}

.projects-arrow svg{
  margin-top: 3px;
}

/* arrow icon */

/* .projects-arrow::after{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:25px;
  height:25px;
  border-top:5px solid #555;
  border-right:5px solid #555;
} */

/* directions */

.projects-arrow.prev::after{
  transform: translate(-50%,-50%) rotate(-135deg);
}

.projects-arrow.next::after{
  transform: translate(-50%,-50%) rotate(45deg);
}

/* pagination */

/* progress container */

.projects-swiper-wrap {
  position: relative;
}

.projects-controls {
  position: absolute;
  top: -50px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 50px;
  z-index: 10;
  
 
  .projects-progressbar {
    position: relative;
    top: auto !important;
    left: auto !important;
    width: 160px !important;
    height: 8px !important;
    background: #ffffffaf;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    
    .swiper-pagination-progressbar-fill {
      background: #70707062;
      border-radius: 10px;
    }
  }

  .projects-arrow {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: none;
  }
}

.projects-swiper {
  width: 100%;
  overflow: hidden;
}


/* .projects-swiper .swiper-pagination-progressbar {
  width: 240px !important;
  height: 4px !important;
  background: rgba(0,0,0,0.1);
  margin: 40px auto 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
} */

/* progress fill */

/* .projects-swiper .swiper-pagination-progressbar-fill {
  background: linear-gradient(90deg, #333, #c7c7c7) !important;
  transition: transform 0.8s cubic-bezier(.65,.05,.36,1);
  box-shadow: 10px 0 10px #5555558f !important;
} */

/* 모바일 도트 */
.projects-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ccc;
  opacity: 1;
  transition: all 0.3s ease;
}

.projects-swiper .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 10px;
  background: #333;
}

/* 섹션 진입 애니메이션 */

.projects.show .swiper-slide-active .monitor,
.projects.show .swiper-slide-active .screen{
  transform:translateX(0);
  opacity:1;
  transition: all .8s ease .2s;
}

.projects.show .swiper-slide-active .project-info{
  transform: translateY(0);
  opacity:1;
  transition: all .8s ease .4s;
}

.projects-swiper .swiper-slide {
  pointer-events: none;
}

.projects-swiper .swiper-slide-active {
  pointer-events: auto;
}

.projects-swiper .swiper-pagination {
  z-index: 1;
  pointer-events: none;
}

.projects-swiper .swiper-pagination-bullet {
  pointer-events: auto;
}

/* screen 자동 스크롤 애니메이션 */
@keyframes siteScroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-1 * var(--scroll-distance)));
  }
}

/* prefers-reduced-motion 대응 */
@media (prefers-reduced-motion: reduce) {
  .detail-btn {
    animation: none;
  }
  .detail-btn::before {
    animation: none;
  }
}


/* 반응형 시작 */

@media (max-width: 1024px) {

  .pj-resume-icon{
    z-index: 1;
    bottom: 75px;
    right: 100px;
  }
  .pj-resume-link{
    z-index: 1;
    font-size: 10px;
    bottom: 40px;
    right: 25px;
  }

  .project-info{
    min-height: 440px;

    transform: translateY(60px);
    opacity: 0;
  }

  .projects-arrow {
    display: none;
  }
  .project-content {
    gap: 40px;
  }
  .project-category{
    font-size: 18px;
  }
  .project-title {
    font-size: 38px;
    margin: 15px 0 20px;
  }
  .project-meta li{
    align-items: center;
  }
  .project-meta span {
    width: 120px;
    font-size: 16px;
  }

  .project-meta p {
    font-size: 14px;
  }
  .project-info > .project-tools{
    margin: -10px 0 0 120px ;
  }
  .project-tools img {
    width: 30px;
  }
  .project-desc{
    font-size: 14px;
    margin: 20px 0 20px;
  }
  .project-info > .project-buttons{
    justify-content: flex-start;
  }
  .project-info .project-btn {
    font-size: 12px;
    padding: 8px 10px;
  }
  .btn-icon img{
    width: 14px;
    height: 14px;
    margin-bottom: 3px;
  }

  .projects-controls{
    top: -30px;
  }
}




@media (max-width: 768px) {

  .project-image:hover .screen img {
    transform: none;
  }
  .projects-title{
    text-align: center;
  }
  .project-content {
    grid-template-columns: 1fr;
    gap: 0px;
    text-align: left;
  }

  /* 이미지 먼저 */
  .project-image {
    order: 1;
    scale: calc(.9);
  }

  .project-info {
    order: 2;
  }
  .project-meta{
    /* width: 80%; */
    margin: 0 auto;
  }
  .project-meta span{
    width: 20%;
    font-size: 16px;
  }
  .project-meta p{
    width: 80%;
    font-size: 16px;
  }
  .project-info > .project-tools{
    margin: 0 0 0 -180px;
  }
  .project-desc{
    margin: 20px auto;
    line-height: 1.6;
    color: $color-main;
    font-size: 16px;
  }

  .projects-controls{
    top: 0;
    right: 0;
  }
  .projects-progressbar {
    display: none;
  }

  .pj-resume-icon{
    z-index: 1;
    bottom: 100px;
    right: 140px;
  }
  .pj-resume-link{
    z-index: 1;
    font-size: 12px;
    bottom: 60px;
    right: 40px;
  }
}



@media (max-width: 480px) {
  .projects{
    padding: 30px 0;
  }

  .projects-title{
    text-align: center;
    font-size: 32px;
  }
  .project-content{
    gap: 0px;
  }
  .detail-btn:hover {
    transform: translate(-50%, -50%) scale(1.3) !important;
  }
  .project-info{
    text-align: center;
    margin-bottom: 50px;
  }
  .project-info > .project-title {
    font-size: 26px;
    margin: 10px 0 10px;
  }

  /* meta 세로 정리 */
  .project-meta li {
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    line-height: 1.8;
    
    border-bottom: 1px solid #eee;
  }
  .project-meta li:last-child{
    border-bottom:none;
  }

  .project-meta span {
    width: auto;
    font-size: 12px;
    font-weight: 500;
    color: $color-sub2;
  }
  .project-meta p {
    width: auto;
    font-size: 14px;
    color: $color-sub;
    margin-bottom: 5px;
    font-weight: 400;
  }

    .project-info > .project-tools{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10px;
    margin: 0;
  }

  .project-tools img {
    width: 22px;
  }

  .project-desc {
    font-size: 12px;
    margin: 10px 0 20px 0;
    padding: 0 10px 0 10px;
  }
  .project-info > .project-buttons {
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
  .project-btn {
    padding: 6px 10px !important;
    font-size: 10px !important;
  }
  
  .swiper-pagination-progressbar{
    display: none;
  }

  .projects-swiper .swiper-pagination {
    bottom: 10px !important;
  }

  .projects {
    padding-bottom: 80px;
  }

  .pj-resume-icon{
    z-index: 9999;
    bottom: 65px;
    right: 110px;
    scale: calc(0.8);
  }
  .pj-resume-link{
    z-index: 9999;
    bottom: 40px;
    right: 30px;
    font-size: 10px;
  }

}

@media (max-width: 400px) {
  .pj-resume-icon{
    z-index: 9999;
    bottom: 47px;
    right: 100px;
    scale: calc(0.7);
  }
  .pj-resume-link{
    z-index: 9999;
    bottom: 25px;
    right: 10px;
    font-size: 9px;
  }
}