@use "./variables.scss" as *;
@use './global.scss' as *;

.projects {
  padding: 120px 0;
  background: #ffffff;
  min-height: 100vh;
  overflow: hidden
}

.projects-inner {
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 clamp(20px, 5vw, 40px);
}

/* layout */

.projects-title {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: $font-en;
  letter-spacing: 2px;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: clamp(40px, 6vw, 60px);
}

/* image */

.project-image {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.projects.show .swiper-slide-active .project-image{
  transform: translateX(0);
  opacity:1;
  transition: all .8s ease .2s;
}

.monitor{
  transform: translateX(-60px);
  opacity:0;
}

.project-image img {
  width: 100%;
  display: block;
}

.project-image:hover .screen img {

  transform: translateY(calc(-100% + 55.6%));
  
}
.screen:hover img{
  animation-play-state: paused;
}

/* monitor frame */

.monitor {

  width: 100%;
  position: relative;
  z-index: 1;
}

/* website screen */
.screen {

  position: absolute;

  top: 7.8%;
  left: 8.5%;

  width: 82%;
  height: 55.7%;

  overflow: hidden;

  border-radius: 3px;

  z-index: 2;
  opacity:0;

}
/* 모니터에 inner shadow */
.screen::after{
  content:"";
  position:absolute;
  inset:0;

  box-shadow:
    inset 0 0 20px rgba(0,0,0,0.25),
    inset 0 0 3px rgba(0,0,0,0.7);

  pointer-events:none;
}

/* inner shadow 더 어둡게 */
/* .screen::after{
  content:"";
  position:absolute;
  inset:0;

  box-shadow:
    inset 0 12px 20px rgba(0,0,0,0.25),
    inset 0 -6px 12px rgba(0,0,0,0.2),
    inset 6px 0 12px rgba(0,0,0,0.15),
    inset -6px 0 12px rgba(0,0,0,0.15);

  pointer-events:none;
} */

/* 스크롤 애니메이션 */
.screen img {

  width: 100%;
  display: block;
  
  animation: siteScroll 10s ease-in-out infinite alternate;
}

/* click button */

.detail-btn {

  position: absolute;
  top: 55%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: none;

  background: rgba(71, 71, 71, 0.267);
  color: transparent;

  font-size: 18px;
  font-family: $font-en;

  cursor: pointer;

  backdrop-filter: blur(2px);

  transition: all .3s ease;

  z-index: 3;

  opacity: .6;
}

.project-image:hover .detail-btn {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.detail-btn:hover {
  transform: translate(-50%, -50%) scale(1.5) !important;
}

.detail-btn::after {

  content: "Click";

  position: absolute;
  inset: 0;

  color: #fff;
  font-size: 18px;
  font-family: $font-en;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .3s ease;
  letter-spacing: 0.7px;

}

.project-image:hover .detail-btn::after {

  content: "View Details";
  letter-spacing: 0.7px;

}

.pj-resume-icon{
  position: absolute;
  bottom: 35px;
  right: 100px;
  transition: all 0.3s ease;
  
}
.pj-resume-link {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #31769F;
  position: absolute;
  bottom: 35px;
  right: 20px;
  transition: all 0.3s ease;
  font-family: $font-en;
  font-weight: 500;
}

/* info */

.project-info{
  min-height: 596px;

  transform: translateY(60px);
  opacity: 0;
}

.project-category {
  font-size: 20px;
  color: $color-sub;
  font-family: $font-en;
  font-weight: 500;
}

.project-title {
  font-size: 56px;
  margin: 16px 0 30px;
  font-weight: 700;
  color: $font-main;
}

/* meta */

.project-meta {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.project-meta li {
  display: flex;
  gap: 0px;
  margin-bottom: 10px;
}

.project-meta span {
  width: 150px;
  color: $color-sub;
  font-size: 22px;
  font-weight: 300;
}

.project-meta p {
  margin: 0;
  font-size: 20px;
}

/* tools */

.project-tools {
  display: flex;
  gap: 10px;
  margin: 14px 0;
  margin-left: 150px;
}

.project-tools img {
  width: 43px;
}

/* description */

.project-desc {
  margin: 30px 0 30px;
  color: $font-main;
  line-height: 1.5;
  font-size: 20px;
  max-width: 700px;
  font-weight: 300;
}

/* buttons */

.project-buttons {
  display: flex;
  margin-left: 10px;
  gap: 20px;
}

.project-btn {

  display: flex;
  align-items: center;
  gap: 8px;
  

  padding: 12px 20px;

  border-radius: 18px;

  background: $color-main;
  color: white;

  text-decoration: none;

  font-size: 14px;

  box-shadow: 0 5px 10px rgba(0,0,0,0.3);

  transition: all .25s ease;

  font-family: $font-en;
  letter-spacing: 0.2px;
}

.btn-icon{
  margin-top: 3px;
}

.project-btn:hover {

  transform: translateY(-4px);

  box-shadow: 0 14px 28px rgba(0,0,0,0.2);
}


.projects-swiper-wrap{
  position: relative;
}

/* fade 모드 자연스럽게 */
.projects-swiper .swiper-slide {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.projects-swiper .swiper-slide-active {
  opacity: 1;
}

/* arrows */

.projects-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 100;
  border: none;
  background: transparent;
}
.projects-arrow{
  opacity: .3;
}

.projects-arrow:hover{
  opacity: 1;
}

/* left */

.projects-arrow.prev{
  left: -40px;
  transition: .3s ease;
}
.projects-arrow.prev:hover::after{
  transform: translate(-70%,-50%) rotate(-135deg);
  transition: .3s ease;
}

/* right */

.projects-arrow.next{
  right: -40px;
  transition: .3s ease;
}
.projects-arrow.next:hover::after{
  transform: translate(-30%,-50%) rotate(45deg);
  transition: .3s ease;
}

/* arrow icon */

.projects-arrow::after{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:25px;
  height:25px;
  border-top:5px solid #555;
  border-right:5px solid #555;
}

/* directions */

.projects-arrow.prev::after{
  transform: translate(-50%,-50%) rotate(-135deg);
}

.projects-arrow.next::after{
  transform: translate(-50%,-50%) rotate(45deg);
}

/* pagination */

/* progress container */

.projects-swiper .swiper-pagination-progressbar {
  width: 240px !important;
  height: 4px !important;
  background: rgba(0,0,0,0.1);
  margin: 40px auto 0;
  overflow: hidden;
  position: relative;
}

/* progress fill */

.projects-swiper .swiper-pagination-progressbar-fill {
  background: linear-gradient(90deg, #333, #c7c7c7) !important;
  transition: transform 0.8s cubic-bezier(.65,.05,.36,1);
  box-shadow: 10px 0 10px #5555558f !important;
}

/* 모바일 도트 */
.projects-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ccc;
  opacity: 1;
  transition: all 0.3s ease;
}

.projects-swiper .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 10px;
  background: #333;
}

/* 섹션 진입 애니메이션 */

.projects.show .swiper-slide-active .monitor,
.projects.show .swiper-slide-active .screen{
  transform:translateX(0);
  opacity:1;
  transition: all .8s ease .2s;
}

.projects.show .swiper-slide-active .project-info{
  transform: translateY(0);
  opacity:1;
  transition: all .8s ease .4s;
}

.projects-swiper .swiper-slide {
  pointer-events: none;
}

.projects-swiper .swiper-slide-active {
  pointer-events: auto;
}

.projects-swiper .swiper-pagination {
  z-index: 1;
  pointer-events: none;
}

.projects-swiper .swiper-pagination-bullet {
  pointer-events: auto;
}

/* screen 자동 스크롤 애니메이션 */
@keyframes siteScroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-1 * var(--scroll-distance)));
  }
}


/* 반응형 시작 */

@media (max-width: 1024px) {

  .pj-resume-icon{
    z-index: 1;
  }
  .pj-resume-link{
    z-index: 1;
    font-size: 12px;
  }

  .project-info{
    min-height: 440px;

    transform: translateY(60px);
    opacity: 0;
  }

  .projects-arrow {
    display: none;
  }
  .project-content {
    gap: 40px;
  }
  .project-category{
    font-size: 18px;
  }
  .project-title {
    font-size: 38px;
    margin: 15px 0 20px;
  }
  .project-meta li{
    align-items: center;
  }
  .project-meta span {
    width: 120px;
    font-size: 16px;
  }

  .project-meta p {
    font-size: 14px;
  }
  .project-tools{
    
    margin: -10px 0 0 120px;
  }
  .project-tools img {
    width: 30px;
  }
  .project-desc{
    font-size: 14px;
    margin: 20px 0 20px;
  }
  .project-btn {
    font-size: 12px;
    padding: 10px 16px;
  }
  .btn-icon img{
    width: 14px;
    height: 14px;
    margin-bottom: 3px;
  }
}




@media (max-width: 768px) {

  .project-image:hover .screen img {
    transform: none;
  }
  .projects-title{
    text-align: center;
  }
  .project-content {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: left;
  }

  /* 이미지 먼저 */
  .project-image {
    order: 1;
  }

  .project-info {
    order: 2;
  }
  .project-meta{
    /* width: 80%; */
    margin: 0 auto;
  }
  .project-meta span{
    width: 20%;
    font-size: 16px;
  }
  .project-meta p{
    width: 80%;
    font-size: 16px;
  }
  .project-tools{
    margin: 0px 0 0 140px;
  }
  .project-desc{
    margin: 20px auto;
    line-height: 1.6;
    color: $color-main;
    font-size: 16px;
  }

  .projects-swiper .swiper-pagination-progressbar {
    margin: 20px auto 0;
  }
}



@media (max-width: 480px) {
  .projects{
    padding: 30px 0;
  }

  .projects-title{
    text-align: center;
    font-size: 32px;
  }
  .project-content{
    gap: 20px;
  }
  .detail-btn:hover {
    transform: translate(-50%, -50%) scale(1.3) !important;
  }
  .project-info{
    text-align: center;
    margin-bottom: 50px;
  }
  .project-title {
    font-size: 32px;
  }

  /* meta 세로 정리 */
  .project-meta li {
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    line-height: 1.8;
    
    border-bottom: 1px solid #eee;
  }
  .project-meta li:last-child{
    border-bottom:none;
  }
  .project-tools{
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }

  .project-meta span {
    width: auto;
    font-size: 18px;
    font-weight: 500;
    
    color: $color-main;
  }
  .project-meta p {
    width: auto;
    font-size: 16px;
    color: $color-sub;
    margin-bottom: 5px;
    font-weight: 400;
  }

  .project-tools {
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .project-tools img {
    width: 28px;
  }

  .project-desc {
    font-size: 16px;
    margin: 10px 0 20px 0;
  }
  .project-buttons {
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
  .project-btn {
    padding: 10px 16px;
    font-size: 12px;
  }
  .swiper-pagination-progressbar{
    display: none;
  }

  .projects-swiper .swiper-pagination {
    bottom: 10px !important;
  }

  .projects {
    padding-bottom: 80px;
  }

}