@use "./variables.scss" as *;
@use './global.scss' as *;

.strength {
  padding: 120px 0;
  background: #fff;
}

.strength-inner {
  padding: 0 200px;
}

/* section title */

.strength-header {
  text-align: center;
  margin-bottom: 80px;
}

.strength-title {
  font-size: 36px;
  font-weight: 700;
  font-family: $font-en;
  letter-spacing: 2px;
}

.strength-line {
  display: block;
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: 18px auto 0;
}

/* grid */

.strength-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 80px ;
}

/* card */

.strength-card {
  background: white;
  padding: 60px 40px;
  border-radius: 12px;
  text-align: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.1);

  opacity: 0;
  transform: translateY(40px);
  perspective: 1000px;
}

.strength-card.show {
  opacity: 1 ;
  transform: translateY(0) ;
  transition: all 0.7s ease;
}
.strength-card:hover {
  transform: translateY(-10px) rotateX(2deg);
  box-shadow: 0 20px 30px #2674a14b;
  transition: all 0.5s ease;
}



/* box-shadow: 0 20px 30px #2674a14b !important; */
/* icon */

.card-icon {
  width: 100px;
  height: 100px;
  /* background: #7ea7bf; */
  margin: 0 auto 20px;
}

.card-icon img{
  width: 100px;
  height: auto;
  transition: transform .5s ease;
}

.strength-card:hover .card-icon img{
  transform: translateY(-6px) scale(1.05) rotate(-4deg);
}

/* number */

.card-number {
  display: block;
  font-size: 26px;
  margin-bottom: 10px;
  font-family: $font-en;
  color: $color-sub2;
  font-weight: 600;
  opacity: .7;
}

/* title */

.card-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 14px;
  font-family: $font-en;
  color: $color-sub;
}

/* desc */

.card-desc {
  font-size: 18px;
  color: $color-sub2;
  margin-bottom: 20px;
  font-weight: 400;
}

.card-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  color: $color-sub;
  font-size: 16px;
}

/* 리스트 한 줄 */

.card-list li {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  text-align: left;
  line-height: 1.8;
}

/* ■ 아이콘 */

.card-list li::before {
  content: "■";
  font-size: 12px;
  color: #2674A1;
  margin-top: 3px;

  flex-shrink: 0;
}